/*********************************************/
/* base.css */
/*********************************************/

:root {

	font-size: 16px;

	--background-dark: hsla(0, 0%, 10%, 1);
	--background-light: hsla(0, 0%, 96%, 1);

	--accent-dark: hsla(0, 0%, 6%, 1);
	--accent-light: hsla(0, 0%, 85%, 1);

	--border-dark: hsla(50, 67%, 50%, .67);
	--border-light: hsla(0, 0%, 25%, .67);

	--font-dark: hsla(51, 90%, 65%, 1);
	--font-light: hsla(0, 0%, 0%, 1);

	--link-dark: hsla(30, 90%, 50%, 1);
	--link-light: hsla(235, 100%, 55%, 1);

}

* {
	scroll-behavior: smooth;
	transition: background-color .34s ease-in,
				border-color .34s ease-in,
				color .34s ease-in;
}

/*********************************************/

html, body {
	min-height: 100vh;
	min-width: 100vw;
	background-color: var(--background-color);
}

html, body, div {
	position: relative;
	margin: 0;
	padding: 0;
}

/*********************************************/

h1, h2, h3, h4, h5, h6, 
a, p, span, ul, ol, li,
label, input, textarea {
	font-family: 'Gabarito', sans-serif;
	margin: 0;
	line-height: 1;
	font-weight: 400;
	color: var(--font-color);
}

h1 {
	font-weight: 700;
}

/*********************************************/

ol {
	list-style: decimal-leading-zero outside;
}

li {
	font-size: 1.15rem;
}
li::marker {
	margin-right: 2rem !important;
}

/*********************************************/

a {
	color: var(--link-color);
	transition: filter .23s ease-in-out;
}
a:hover {
	filter: brightness(1.5);
}
a:visited {
	filter: brightness(.75);
}


/*********************************************/