/*********************************************/
/* modules.css */
/*********************************************/

#theme-picker {
	margin: -15px -15px 0 0;
	font-size: 1.5rem;
	cursor: pointer;

	opacity: .34;
	transition: opacity .23s ease-in-out;
}

#theme-picker:hover, #theme-picker:active {
	opacity: 1;
}

/*********************************************/

#word-search {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	gap: 40px;
}

#word-search > :is(#ws-container, aside) {
	display: flex;
	padding: 20px;
	border: 2px dotted var(--border-color);
}

/* Output grid */
#ws-container {
	font-family: "Noto Sans Mono", monospace;
	font-size: 1.25rem;
	text-align: center;

	width: 100%;
	height: fit-content;

	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}


#word-search div.ws-row {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	margin: 0;
}

#word-search span.ws-cell {
	padding: 10px;
	aspect-ratio: 1/1;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* User input */
#word-search aside {
	flex-flow: column wrap;
	max-width: 250px;
}

#ws-type-description {
	font-family: "Inter", sans-serif;
	font-size: .9rem;
	font-style: italic;
	font-weight: 200;
	margin: 2.5px 0 15px 0;
}


/*********************************************/