/*********************************************/
/* modules.css */
/*********************************************/

#theme-picker {
	margin: -15px -15px 0 0;
	font-size: 1.5rem;
	cursor: pointer;

	opacity: .34;
	transition: opacity .23s ease-in-out;
}

#theme-picker:hover, #theme-picker:active {
	opacity: 1;
}

/*********************************************/

#word-search {
	display: flex;
	flex-flow: row nowrap;
}

#word-search aside {
	display: flex;
	flex-flow: column wrap;
}

#word-search pre {
	font-size: 1.5rem;
	text-align: center;
	width: 100%;
}

#ws-type-description {
	font-family: "Inter", sans-serif;
	font-size: .9rem;
	font-style: italic;
	font-weight: 200;
	margin-bottom: 5px;
}


/*********************************************/