/*********************************************/
/* state.css */
/*********************************************/

.no-select {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none;     /* IE 10 and IE 11 */
	user-select: none;         /* Standard syntax */
}

/*********************************************/

.hidden {
	display: none !important;
}

/*********************************************/

*:disabled, *:disabled ~ label {
	opacity: .9;
	filter: grayscale(100%);
	cursor: not-allowed;
}

/*********************************************/